.notFoundPageWrapper{
    width: 100%;
    height: 100vh;
    background:linear-gradient(90deg,var(--dark-bg),var(--liner-lighert-part));
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    .data{
        color: var(--white-color);
        .text{
            .status{
                font-size: 250px;
            }
            .text{
                font-size: 25px;

            }
        }
    }
    .btnWrapper{
    display: flex;
    justify-content: center;
    padding-top: 81px;
    .btn{
        all: unset;
        padding:30px  74px;
        border-radius: 20px;
        background-color: var(--praimery-color);
        box-shadow: var(--btn-shadow);
        display: block;
        font-size: 25px;
        cursor: pointer;
    }
    }

}