@font-face {
    font-family: iranYekan;
    src: url('../fonts/IRANYekanWeb.eot');
    src: url('../fonts/IRANYekanWeb.ttf');
    src: url('../fonts/IRANYekanWeb.woff');
    src: url('../fonts/IRANYekanWeb.woff2');
}
*,::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: iranYekan;
}
:root{
    --dark-bg:#27262C;
    --praimery-color:#4044ED;
    --sceondry-color:#93DFFF;
    --white-color:#FFFFFF;
    --liner-lighert-part:#27262c7f;
    --btn-shadow:0px 4px 4px rgba(0,0,0,0.25);

}
